
body {
background: #171717;
}

caption {
	font-size: 25px;
	color: #ddd;
	padding: 10px;
}

.calendario {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	table-layout: fixed;
}

th {
	text-align: center;
	padding: 5px;
	background-color: #aaa;
}


td {
    height: 100px;
    border: 1px solid #aaa;
    margin-top: 3px;
	color: #ddd;
}

