body {
	background: #171717;
}

#fechaForm {
	margin-top: 65px;
}

.fecha {
	color: #fff;
	font-size: 20px;
}



caption {
	font-size: 20px;
	color: #ddd;
	padding: 7px;
}

.calendario {
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	table-layout: fixed;

}

th {
	text-align: center;
	padding: 5px;
	background-color: #aaa;
}


td {
	height: 100px;
	border: 1px solid #aaa;
	margin-top: 3px;
	color: #ddd;
	vertical-align: top;
}