@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    background: rgb(29, 29, 29);
}

h1 {
    width: 100%;
    margin-bottom: 20px;
    color: #ddd;
}



.form{
    background-color: rgb(49, 49, 49);
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 1.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}

.form_title{
    font-size: .8rem;
    margin-bottom: -4em;
    margin-top: -1rem   ;
    color: rgb(121, 121, 121);
}


.form_link{
    font-weight: 400;
    color: #000;
}

.form_container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form_group{
    position: relative;
    --color:#5757577e
}

.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}

.form_input:not(:placeholder-shown){
    color: #fff;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #151;
}

.form_label{
    color: var(--color);
    cursor: text;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form_submit{
    background: #151;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}

.form_submit:hover{
    color: #151;
    outline: 1px solid #151;
    background: transparent;
}

.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #151;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form_input:focus ~ .form_line,
.form_input:not(:placeholder-shown) ~ .form_line{
    transform: scale(1);
}

@media (max-width:425px) {
    .form_title{
        font-size: 1.8rem;
    }
}